@charset "utf-8";
ul{
	list-style:none;
	width:300px;
	margin:0;
	padding:0;
}
#main_menu{
	border:1px solid #888888;
	cursor:pointer;
}
#main_menu > li{
	border:1px solid #888888;
	background:#888888;
	color:#ffffff;
	width:280px;
	padding:15px 10px;
}
.sub_menu li{
	background:#aaaaaa; 
	color:#ffffff;
	border:1px solid #888888;
	border-bottom:none;
	width:280px;
	padding:10px;
}