@charset "utf-8";

#image-box {
    position: relative;
    margin: 30px auto;
    width: 300px;
    height: 400px;
}

#image-box img {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}